* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 80%;
  margin:3% auto;
}
.title{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
 margin-bottom: 3rem;
}
.page-title{
  font-size: 1rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.about-us{
  line-height: 20px;
  text-align: left;
}
.about-us h4{
  font-size: 0.5;
  margin-bottom: 0.5rem;
 
}
.about-us p{
  font-size: 1rem;
}
.crew{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 gap: 10%;
}
.crew-image img{
  width: 100%;
}
.crew-image{
  position: relative;
  flex-basis: 40%;
  margin-right: 1.2rem;
}
.crew-image h5{
  padding: 0.2rem;
}
.caption{
transform: rotate(90deg);
width: 100%;
position: absolute;
/* 4rem / -4rem */
right: -55%;
top:30%;
font-weight: lighter;
}
.two,.four,.six{
  margin-top: 3rem;
}

footer {
  text-align: center;
  color: #333333;
  padding: 5rem 0 .5rem 0;
}

@media only screen and (min-width:768px) {
  .title{
    flex-direction: row;
  }
  .page-title{
    flex-basis: 30%;
  }
  .about-us{
    flex-basis: 50%;
  }
  .crew{
   gap: 5%;
  }
  .crew-image{
    flex-basis: 30%;
  }

  .two,.four,.six{
    margin-top: 0rem;
  }

  .five,.two{
    margin-top: 3rem;
  }
  .caption{
    /* 6rem / -6.2rem */
    right: -54%;
    top:52%;
    font-size: 1rem;
    
    }
}

